/* Dit was nodig omdat er op deze pagina een witte lege balk boven de nav zat (die niet in de head of body zat). Zo verwijder ik de standaardstijlen van de browser. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Voormalige navigatie */
/* nav {
  position: relative;
  background-color: var(--footer-background);
  display: flex;
  flex-direction: column;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul:last-of-type {
  padding-bottom: 1rem;
}
nav ul li a {
  color: var(--text);
}
.Logo {
  display: block;
  width: 45vw;
  position: relative;
}
.Searchsvg {
  width: 8vw;
  position: relative;
}
.Accountsvg {
  width: 8vw;
  position: relative;
}
ul li {
  font-family: "NimbusRegular";
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5% 4% 2% 4%;
} */

/* SECTION NOMINEES */

.Nominees {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "NimbusRegular";
}

/* Plaatje bovenin */
/* Algemene styling voor beide afbeeldingen */
.AwardsImage,
.AwardsImageInverted {
  width: 100vw; /* Zorgt ervoor dat de afbeelding de volledige viewportbreedte inneemt */
  height: auto; /* Houdt de aspect ratio intact */
  position: absolute; /* Zorg ervoor dat ze elkaar overlappen */
  top: 0;
  left: 0;
  object-fit: cover; /* Houdt de aspect ratio consistent */
}

/* Afbeelding bovenaan de pagina */
figure {
  position: relative;
  width: 100vw;
  height: 200px;
  margin: 0;
}

/* Standaardmodus: toon de standaard afbeelding */
.AwardsImage {
  display: block;
}
.AwardsImageInverted {
  display: none;
}

/* InvertedColors modus: wissel de zichtbaarheid van de afbeeldingen */
.InvertedColors .AwardsImage {
  display: none;
}
.InvertedColors .AwardsImageInverted {
  display: block;
}

/* The Nominees button */
.Nominees > a {
  margin-top: 5%;
  padding: 2%;
  background-color: var(--nominees-button);
  color: var(--text);
  font-size: 0.9rem;
  border-style: none;
}

a {
  text-decoration: none;
}

.UlNominees a {
  text-decoration: none;
  color: var(--links);
}

.UlNominees {
  margin-top: 5%;
  margin-left: 2.5%;
  font-size: 0.9em;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 1.25em;
  text-align: left;
}

/* ZOEKBALK EN DOWNLOAD */

/* Input zoekbalk */
.Zoekbalk {
  position: relative; /* Zorgt ervoor dat de afbeeldingen binnen de section blijven */
  text-align: center;
  padding: 8% 3% 3% 3%;
}

input[type="text"] {
  padding: 0.6em;
  font-size: 17px;
  width: 95%;
  height: 40px;
  margin: 0 auto;
  display: block;
}

/* .Zoekbalk img {
  margin: 5% auto;
  display: block;
  width: 150px;
  height: 50px;
  align-items: center;
} */

.Zoekbalk img {
  margin: 5% auto;
  display: block;
  width: 150px;
  height: 50px;
  align-items: center;
  object-fit: contain;
  top: 0;
  left: 0;
}

.Zoekbalk .AppleImageInverted {
  display: none; /* Standaard verbergen we de inverted afbeelding */
}

/* InvertedColors modus: toon de inverted afbeelding */
.InvertedColors .AppleImage {
  display: none; /* Verberg de standaard afbeelding */
}
.InvertedColors .AppleImageInverted {
  display: block; /* Toon de inverted afbeelding */
}

/* CAROUSEL */

.carousel ul {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel ul::-webkit-scrollbar {
  display: none;
}

.carousel ul li a img {
  align-items: center;
  border-radius: 0.6em;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0rem;
  position: relative;
  scroll-snap-align: center;
  transform: scale(1);

  width: 200px;
  height: 300px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

/* kopjes in carousel */
.carousel h2 {
  font-family: "NimbusBold";
  color: var(--text);
  font-size: 0.9em;
  padding: 3% 3% 0% 3%;
}

h3 {
  font-family: "NimbusBold";
  color: var(--text);
  margin-top: 2%;
  margin: 0.3em;
}

h4 {
  text-align: center;
  color: var(--text);
}

/* TWEE STUKKEN MET LINKJES */

/* Onderstaande was voormalige css die bij de initiele styling werkte, maar vanwege gebruik van "first/nth/last-of-type" niet meer goed uitkwam en voor mij onoverzichtelijk werd. Daarom heb ik dit veranders naar individuele classes, maar ik wilde het wel laten zien. */
/* .lastsection p:first-of-type {
  font-family: "NimbusRegular";
  color: var(--grijs);
  margin-top: 0;
  margin-left: 0.4em;
}

.lastsection p:nth-of-type(2) {
  font-family: "NimbusRegular";
  text-align: center;
}

.lastsection ul {
  margin-bottom: 8%;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 1.25em;
  text-align: left;
} */

.TweeKoppen {
  padding: 0% 3% 0% 3%; /* padding links en rechts */
}

.BestBooks {
  font-family: "TimesNewRoman";
  color: var(--text);
  font-size: 1.2em;
  margin-bottom: 0rem;
  text-align: left;
}

.TweeKoppen p {
  font-family: "NimbusRegular";
  font-size: 0.9em;
  color: var(--default-stars);
  margin-top: 0;
  margin-left: 0.4em;
}

.Genres {
  font-family: "NimbusBold";
  color: var(--text);
  font-size: 0.9em;
  margin-bottom: 0rem;
  text-align: left;
}

/* Linkjes lijsten */

.TweeKoppen ul {
  margin-bottom: 8%;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 1.25em;
  text-align: left;
}

.TweeKoppen ul a {
  font-family: "NimbusRegular";
  font-size: 0.9em;
  color: var(--links);
  background-color: transparent;
}

/* QUOTE */

.Quote {
  padding: 0% 3% 4% 3%; /* padding links en rechts */
}

.Quote h3 {
  font-family: "NimbusBold";
  color: var(--text);
  font-size: 0.9em;
  margin-bottom: 0rem;
  text-align: left;
  padding-bottom: 4%;
}

.QuoteContent {
  display: flex;
  flex-direction: row; /* Afbeelding links, tekst rechts */
  align-items: center; /* Zorgt dat de afbeelding en tekst verticaal gecentreerd staan */
  gap: 3%; /* Ruimte tussen afbeelding en tekst */
}

.QuoteContent img {
  width: 12%;
  flex-shrink: 0; /* Voorkomt dat de afbeelding krimpt */
  border-radius: 8px; /* Voeg hier de afgeronde hoeken toe */
  margin-left: 3%;
}

.QuoteContent blockquote {
  display: flex;
  flex-direction: column; /* Zorgt dat de quote en de p onder elkaar staan */
  flex: 1; /* Rechterkolom past zich aan de beschikbare ruimte aan */
  max-width: 80%; /* Maakt de blockquote iets breder */
  margin-left: 1.5rem;
}

.QuoteContent blockquote q {
  font-style: italic;
  font-size: 1em; /* Standaard tekstgrootte */
  color: var(--text);
}

.QuoteContent blockquote p {
  margin: 0; /* Geen extra marges */
  font-size: 0.9em; /* Licht kleinere tekst */
  color: var(--text);
  padding-top: 0.5rem; /* Extra ruimte tussen de quote en de p */
}

/* CHOICE AWARDS */

.ChoiceAwards {
  padding-left: 3%;
  padding-right: 3%;
}

.ChoiceAwards img {
  width: 94%;
}

.ChoiceAwards h3 {
  /* display: flex;  gebruiken wanneer er mogelijk weer een streep in staat*/
  font-family: "NimbusBold";
  color: var(--text);
  font-size: 0.9em;
  padding-top: 4%;
}

.ChoiceAwards a {
  font-family: "NimbusRegular";
  font-size: 0.9em;
  color: var(--links);
}
