/**************/
/* CSS REMEDY */
/**************/

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
@font-face {
  font-family: "NimbusRegular";
  src: url(/font/nimbus-sans-l/NimbusSanL-Reg.otf);
}
@font-face {
  font-family: "NimbusBold";
  src: url(/font/nimbus-sans-l/NimbusSanL-Bol.otf);
}

:root {
  /* startje */
  --color-text: #111;
  --color-background: #eee;
}

/****************/
/* JOUW STYLING */
/****************/

body,
ul {
  margin: 0;
  padding: 0;
}
:root {
  --beige: #f5f1ea;
  --bruin: #75420e;
  --donkerbruin: #553b08;
  --grijs: #aaaaaa;
}

nav {
  position: relative;
  background-color: var(--beige);
  display: flex;
  flex-direction: column;
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
nav ul:last-of-type {
  padding-bottom: 1rem;
}

.Logo {
  display: block;
  width: 55vw;
  position: relative;
}
.Searchsvg {
  width: 10vw;
  position: relative;
}
.Accountsvg {
  width: 10vw;
  position: relative;
}
ul li {
  font-family: "NimbusRegular";
  display: inline-block;
  text-decoration: none;
  text-align: center;
  padding: 5% 4% 2% 4%;
}
.Awards {
  width: 100vw;
}
.Nominees > a {
  margin-top: 5%;
  font-size: 1em;
  padding: 2%;
  background-color: yellow;
  border-style: none;
}
.Nominees {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "NimbusRegular";
}
a {
  text-decoration: none;
}

#UlNominees {
  margin-top: 5%;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 1.25em;
  text-align: left;
}
/* .Collectie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;
} */

input[type="text"] {
  padding: 0.6em;
  font-size: 17px;
  width: 70%;
  margin: 0 auto;
  display: block;
}
.bn46 {
  margin: 5% auto;
  display: block;
  width: 150px;
  height: 50px;
}

h2 > section {
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}

.carousel > ul {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scrollbar-width: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carousel ul::-webkit-scrollbar {
  display: none;
}

.carousel ul li a img {
  align-items: center;
  border-radius: 0.6em;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  margin: 0 1rem;
  position: relative;
  scroll-snap-align: center;
  transform: scale(1);

  width: 200px;
  height: 300px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

h2 {
  font-family: "NimbusRegular";
  font-size: 1.1em;
}
h3 {
  font-family: "NimbusBold";
  margin-top: 2%;
  margin: 0.3em;
}
h4 {
  text-align: center;
}
.lastsection p:first-of-type {
  font-family: "NimbusRegular";
  margin-top: 0;
  margin-left: 0.4em;
}
.lastsection p:nth-of-type(2) {
  font-family: "NimbusRegular";
  text-align: center;
}
.lastsection p:last-of-type {
  font-family: "NimbusRegular";
  color: rebeccapurple;
  margin: 0;
}
.lastsection ul {
  margin-bottom: 8%;
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 1.25em;
  text-align: left;
}
.lastsection ul a {
  color: green;
  background-color: transparent;
}
.QuoteProfile {
  position: relative;
  width: 15%;

  margin-top: 1%;
  left: 43%;
}
.img-awardsfooter {
  width: 100%;
}
section:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer a {
  font-size: 1em;
  padding: 2%;
  background-color: yellow;
  border-style: none;
  width: max-content;
  margin-top: 1rem;
  transition: 0.25s ease-in;
}
section:last-of-type a:hover {
  font-size: 1.15em;
  color: #111;
  background-color: orange;
}
